.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 45%;
  height: 90vh;
  background: red;
}

.media {
  height: 60vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media a {
  box-sizing: content-box;
  display: block;
}

.media a img {
  max-height: 60vh;
  max-width: 100%;
  object-fit: cover;
}
